*{
    margin: 0px;
    padding: 0px;
}

.cabecalho {
    background-color: #8000AD;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px 0;
}

.cabecalho-imagem {
    width:25%;
}

.cabecalho-lista-item {
    display: inline-block;
    margin: 0x 16px;
    font-size: 24px;
    justify-content: space-between;
}

.cabecalho-lista {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}